@model Product
@{
}
<div class="main-products-wrapper p-2" id="cartProductsContainer">
   <div>
      <span class="cartToDetailsSpan" data-productid="@Model.Id">Item's name: @Model.Title</span>
   </div>
   <div>
      <span>Description: @Model.ShortDesc</span>
   </div>
   <div>
      <span>Price: @Model.Price</span>
   </div>
</div>