@model Product 
@{
}
<div class="main-products-wrapper p-2" id="cartProductsContainer">
    <span class="cartToDetailsSpan" data-productid="@Model.Id">@Model.Title</span>
    <span>@Model.ShortDesc</span>
    <span>@Model.Price</span>
</div>