@model Product
@{
}
<div class="main-products-wrapper p-2 m-1" id="cartProductsContainer">
      <span class="cartToDetailsSpan" data-productid="@Model.Id">Item's name: @Model.Title</span>
      <span class="ml-5">Description: @Model.ShortDesc</span>
      <span class="ml-5">Price: @Model.Price</span>
</div>