<div class="myBorder">
   <h5>Site's map</h5>
   <a asp-controller="Home" asp-action="ShowAll">Main Page</a><br />

   <a>About us</a><br />
   <a>Items Card</a><br />
   @if (User.Identity.IsAuthenticated)
   {
      <a asp-controller="Account" asp-action="PersonalDetails">Personal Details</a><br />
      <a asp-controller="Product" asp-action="AddItem">Add item</a><br />
   }
   else
   {
      <a href="@Url.Action("Register", "Home")">Register</a><br />
   }
</div>
