<div class="myBorder">
   <h5>Site's map</h5>
   <div>
      <a asp-controller="Home" asp-action="AboutUs" onfocus="">About us</a>
   </div>
   <div>
      <a asp-controller="Home" asp-action="ShowAll">Main Page</a>
   </div>

   <div>
      <a>Items Card</a>
   </div>
   @if (User.Identity.IsAuthenticated)
   {
      <div>
         <a asp-controller="Account" asp-action="PersonalDetails">Personal Details</a><br />

      </div>
      <div>
         <a asp-controller="Product" asp-action="AddItem">Add item</a><br />
      </div>
   }
   else
   {
      <div>
         <a href="@Url.Action("Register", "Home")">Register</a>
      </div>
   }
</div>
