@model User

<form asp-controller="Home" asp-action="PersonalDetails" method="post">
   <label asp-for="FirstName">First Name:</label>
   <input asp-for="FirstName"><br />
   <label asp-for="LastName">First Name:</label>
   <input asp-for="LastName"><br />
   <label asp-for="Email">First Name:</label>
   <input asp-for="Email"><br />
   <label asp-for="BirthDate">BirthDate:</label>
   <input asp-for="BirthDate"><br />
   <label asp-for="UserName">First Name:</label>
   <input asp-for="UserName"><br />
   <label asp-for="Password">First Name:</label>
   <input asp-for="Password"><br />
   <label asp-for="Password">First Name:</label>
   <input asp-for="Password"><br />
   <button type="submit">Save</button>
</form>
