@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products List";
}
<h3>This is the list of products</h3>
<div class="d-inline-flex p-2">
    @foreach (var item in Model)
    {
        if (!item.InCart)
        {
            <div class="productTile">
                <partial name="_Product" model="item" />
            </div>
        }

    }
</div>
    