@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products List";
}
<h3>This is the list of products</h3>

    @foreach (var item in Model)
    {
    <div class="main">
        <partial name="_Product" model="item" />
    </div>
    }
