@model Product

<form asp-controller="Product" asp-action="AddItem" method="post" enctype="multipart/form-data">
   <div class="myBorder form-group">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div>
         <label asp-for="Title">Title:</label>
         <input asp-for="Title" required="required" class="form-control input-sm">
      </div>
      <div>
         <label asp-for="ShortDesc">Short description:</label>
         <input asp-for="ShortDesc" required="required" class="form-control input-sm">
      </div>
      <div>
         <label asp-for="LongDesc">Long description:</label>
         <input asp-for="LongDesc" required="required" class="form-control input-sm">
      </div>
      <div>
         <label asp-for="Price">Price:</label>
         <input asp-for="Price" required="required" class="form-control input-sm">
      </div>
      <div>
         <label asp-for="Image1">Image one:</label>
         <input type="file" asp-for="Image1" class="form-control">
      </div>
      <div>
         <label asp-for="Image2">Image two:</label>
         <input type="file" asp-for="Image2" class="form-control">
      </div>
      <div>
         <label asp-for="Image3">Image three:</label>
         <input type="file" asp-for="Image3" class="form-control">
      </div>
      <button type="submit" class="btn btn-sm btn-primary rounded-5 mt-2">Add</button>
   </div>
</form>