@model IEnumerable<Yad2Proj.Models.Product>

@{
    decimal total = 0;
}

<h1>My Cart</h1>
@foreach (Product item in Model)
{
    total += item.Price;
    <partial name="_CartProduct" model="item" />
}

<div>Total Price: @total</div>
@section Scripts {
    <script type="text/javascript" src="~/js/cart.js"></script>
}

