@model User

<form asp-controller="Account" asp-action="PersonalDetails" method="post">
   <div class="myBorder">
      <div asp-validation-summary="All" class="text-danger"></div>
      <label asp-for="FirstName">First Name:</label>
      <input asp-for="FirstName"><br />
      <label asp-for="LastName">Last Name:</label>
      <input asp-for="LastName"><br />
      <label asp-for="Email">Email:</label>
      <input asp-for="Email"><br />
      <label asp-for="BirthDate">BirthDate:</label>
      <input type="date" asp-for="BirthDate"><br />
      <label asp-for="UserName">User Name:</label>
      <input asp-for="UserName"><br />
      <label asp-for="Password">Password:</label>
      <input asp-for="Password"><br />
      <label asp-for="ConfirmPassword">Confirm Password:</label>
      <input asp-for="ConfirmPassword"><br />
      
      <button type="submit" class="btn btn-sm btn-primary rounded-5">Save</button>
   </div>
</form>
